@{
    ViewData["Title"] = "Home Page";

}


@if (ViewBag.Clients != null)
{
    <div class="container">
        <ul class="fa-ul list-group">

            @foreach (KeyValuePair<string, SampleMvcApp.Controllers.ClientInfo> kvPair in ViewBag.Clients)
            {
                <li class="list-group-item">
                    <span class="fa-li"><i id="@kvPair.Value.id" class="fa-solid fa-spinner fa-pulse"></i></span>
                    <div class="container">
                        <div class="row">
                            <div class="col"><b>App:</b> <span>@kvPair.Value.name</span></div>
                            <div class="col"><b>Local Logout Url:</b> <span>@kvPair.Value.logoutUrl</span></div>
                            <div class="col"><b>Local Logout Status:</b><span id="@kvPair.Value.id-text" >Pending...</span></div>

                        </div>
                      </div>

                </li>

            }


        </ul>
    </div>
}


@if (User.Identity.IsAuthenticated)
{
    <script>

        window.onload = function() {
            var complete = 0;
            var numberofSamlWsFedApps = @ViewBag.NoClients;

            var returnUrl = "/Home/LoggedOut";
            if (numberofSamlWsFedApps > 0) {
                var samlWsFedApps = eval(@Html.Raw(ViewBag.ClientsJson));
                Object.keys(samlWsFedApps).forEach(key => {
                    var app = samlWsFedApps[key];
                    var iframe = document.createElement('iframe');
                    iframe.style = "display:none";
                    iframe.id = Date.now() + Math.random();
                    iframe.onload = function () {
                        console.log(app.logout_url);
                        setTimeout(function () {
                            document.getElementById(app.id).className = "fa-solid fa-check-square";
                            document.getElementById(app.id + "-text").innerHTML = "<b> Success!!</b>";
                            complete++;
                        }, 500);
                    };

                    iframe.src = encodeURI(app.logout_url);
                    document.body.appendChild(iframe);
                });
            }
            var startTime = Date.now();
            function checkCompletion() {
                if (complete !== numberofSamlWsFedApps && Date.now() - startTime <= 5000) {
                    window.setTimeout(checkCompletion, 500); /* this checks the flag every 100 milliseconds*/
                } else {
                    if (complete === numberofSamlWsFedApps) {
                        alert(`You have been logged out of ${complete} out of ${numberofSamlWsFedApps} apps`);
                        window.location = "@ViewBag.IssuerDomain/v2/logout?federated&client_id=@ViewBag.ClientId&returnTo=@ViewBag.BaseUrl?returnUrl=@ViewBag.returnTo"
                    }
                    else {
                        alert(`You have been logged out of ${complete} out of ${numberofSamlWsFedApps} apps`);
                        window.location = "@ViewBag.IssuerDomain/v2/logout?federated&client_id=@ViewBag.ClientId&returnTo=@ViewBag.BaseUrl?returnUrl=@ViewBag.returnTo"

                    }

                }
            }
            checkCompletion();

        }

    </script>

}
else
{
    <script>window.location = "<%=returnUrl%>"</script>
}